$primary: #0079ff;

$theme-colors: (
  "primary": $primary,
  "secondary": #2b30c9,
  "success": #89e8b0,
  "info": #ffc371,
  "warning": #ff5e62
);

.logout{
    float:right;
    margin:10px 0px;
}
h4{
    font-weight: 900;
    color: #101010;
}